<script>

    var pieChart1 = c3.generate({
        bindto: '#pie1',
        data: {
            // iris data from R
            columns: [
                ['partially released', 2961],
                ['fully released', 2516],
            ],
            colors: {
                'partially released': '#d14576',
                'fully released': '#c1ccdd'
            },
            type : 'pie',
            onclick: function (d, i) { console.log("onclick", d, i); },
            onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        }
    });

</script>