<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }

    function changeContactPeople(people){

      var description1 = "**Huma Abedin** : the most frequent sender.<br><br>>- _**Vice chair of Hillary Clinton's 2016 campaign** for President of the United States._- _**Deputy chief of staff to Clinton**, who was U.S. Secretary of State from 2009 to 2013._- _**Traveling chief of staff and former assistant for Clinton** during Clinton's campaign for the Democratic nomination in the 2008 presidential election._ <br><br>_An interesting observation: She receives the most emails FROM Hillary, but is only the 8-th sender of emails TO Hillary. We guess that she excutes more Hillary's order than make reports._She is clearly the right-hand woman of Hillary Clinton."
      var description2 = "**Cheryl Mills** : the 2nd most frequent sender and the most frequent receiver.<br><br>> - _**Counselor and Chief of Staff to Hillary Clinton** during her whole tenure as United States Secretary of State_.- _**Senior Adviser and Counsel for Hillary Clinton's 2008 presidential campaign**, and is considered a member of Hillary Clinton's group of **core advisers**, self-designated as 'Hillaryland'._- _**Deputy White House Counsel for President Bill Clinton**, whom she defended during his 1999 impeachment trial._<br><br>Another right-hand woman of Hillary Clinton. From the last point we can also see that she is loyal to the Clinton family."
      var description3 = "**Jacob Jeremiah Sullivan (Jake Sullivan)** : the 3rd most frequent sender and the 14-th most frequent receiver.<br><br>>- _American policymaker, **senior policy advisor to Hillary Clinton**'s 2016 U.S. presidential election campaign, with expertise in foreign policy._- _**Deputy Chief of Staff to U.S. Secretary of State Hillary Clinton**._- _**Deputy policy director on Hillary Clinton**'s 2008 presidential primary campaign._<br><br>"
      var description4 = "**Sidney Blumenthal** : the 4-th most frequent sender and the 7-th most frequent receiver.<br><br>>- _**Journalist, activist**, writer, and political aide._- _Former aide to President Bill Clinton._- _A long-time **confidant of Hillary Clinton**._- _Formerly employed by the **Clinton Foundation**._<br><br>"

      if(people=="Huma Abedin"){
        document.getElementById("description").innerHTML = description1;
      }else if(people=="Cheryl Mills"){
        document.getElementById("description").innerHTML = description2;
      }else if(people=="Jacob Jeremiah Sullivan"){
        document.getElementById("description").innerHTML = description3;
      }else {
        document.getElementById("description").innerHTML = description4;
      }
    }

    function changeTableContentQ2(artist_name){

    var tb2 = document.getElementById("tableQ2");   // Get the <ul> element with id="myList"
    tb2.removeChild(tb2.childNodes[0]);      

    if(artist_name=="Ed_Sheeran"){
      img_file = artist_name + ".jpg";
    } else {
      img_file = artist_name + ".png";
    }

    img        = document.createElement("img");
    img.src    = "{{ "/project/web/img/" | relative_url }}"+img_file;
    img.width  = 180;
    img.height = 240;
    img.alt    = artist_name;

    var pictQ2 = document.getElementById("pictQ2");   // Get the <ul> element with id="myList"
    pictQ2.removeChild(pictQ2.childNodes[0]);  
    pictQ2.appendChild(img);

    d3.text("{{ "/project/web/data/" | relative_url }}"+artist_name+".csv", function(data) {
      var parsedCSV = d3.csv.parseRows(data);

        var container = d3.select("#tableQ2")
            .append("table")

            .selectAll("tr")
                .data(parsedCSV).enter()
                .append("tr")

            .selectAll("td")
                .data(function(d) { return d; }).enter()
                .append("td")
                .text(function(d) { return d; });
    });

    }
</script>